%p#notice= notice

%p
  %b Name:
  = @business.name
%p
  %b Website:
  = @business.website

%p
  %b Roasts:

  %ol.indent
    - @business.roasts.each do |roast|
      %li
        = link_to roast.name, roast_path(roast)

= link_to 'Edit', edit_business_path(@business)
\|
= link_to 'Back', businesses_path
